<div class="footer-container">
	<div class="wrapper">
		<footer>
			<div class="footer-links-container">
			<ul>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Warranty</a></li>
				<li><a href="#">Become a Mobile Distributor</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Beat the Crew Chief</a></li>
				<li><a href="#">Support</a></li>
			</ul>
			</div>
			<div class="social-links-container">
				<a href="#"><i class="fa  fa-facebook"></i></a>
				<a href="#"><i class="fa  fa-twitter"></i></a>
				<a href="#"><i class="fa  fa-linkedin"></i></a>
				<a href="#"><i class="fa  fa-youtube-play"></i></a>
			</div>
		</footer>
	</div>
</div>


<div class="sub-footer">
	<div class="wrapper">
		<div class="sub-footer-padding">
			<div class="footer-logo-container">
				<%= image_tag('ideal-logo.jpg', :class => "img-responsive-mobile") %>
				
				<p>
					IDEAL Corporate | 1375 Park Avenue, Sycamore, Illinois 60178
					@2017 IDEAL INDUSTRIES, INC. ALL RIGHTS RESERVED.
				</p>
				
			</div>
			
			<div class="footer-social-container">
				<div class="social-icons"></div>
				<div class="legal-links">
					<p>
						<a href='#'>Privacy Policy</a> <span>|</span>
						<a href='#'>Legal Notice</a> <span>|</span>
						<a href='#'>CA Transparency in supply chains act disclosure</a> <span>|</span>
						<a href='#'>Supplier code of conduct</a>
					</p>
				</div>
			</div>
		</div><!-- sub-footer-padding -->
	</div><!-- wrapper -->
</div><!-- sub-footer -->