<div class="navigation-container hide">
    <div class="nav_wrapper">
            
	<div class="svg_container">
	<div class="svg_block svg_block_capture">
	<svg version="1.1" id="Layer_capture" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 288.2 85.5" style="enable-background:new 0 0 288.2 85.5;" xml:space="preserve">
	<g id="capture">
		<path class="letter letter-1" d="M25.3,26.7c-1.7,0-3.2,0.3-4.7,1c-1.5,0.6-2.7,1.5-3.8,2.6c-1.1,1.1-1.9,2.4-2.5,3.8c-0.6,1.5-0.9,3-0.9,4.7
			c0,1.7,0.3,3.2,1,4.7c0.6,1.5,1.5,2.7,2.6,3.8c1.1,1.1,2.3,1.9,3.8,2.5c1.4,0.6,3,0.9,4.6,0.9h12V64h-12c-3.5,0-6.8-0.7-9.8-2
			c-3-1.3-5.7-3.1-8-5.4s-4.1-5-5.4-8.1c-1.3-3.1-2-6.4-2-9.9c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.4-8.1c2.3-2.3,5-4.1,8.1-5.4
			c3.1-1.3,6.4-2,9.9-2h12v13.3H25.3z"/>
		<path class="letter letter-2" d="M85.5,64H72.2V38.7c-0.1-1.7-0.4-3.3-1-4.8c-0.6-1.5-1.5-2.7-2.6-3.9c-1.1-1.1-2.4-2-3.9-2.6c-1.5-0.6-3-0.9-4.8-0.9
			c-1.7,0-3.2,0.3-4.6,1c-1.4,0.6-2.7,1.5-3.8,2.6c-1.1,1.1-1.9,2.4-2.5,3.9c-0.6,1.5-0.9,3-0.9,4.8c0,2.9,1,5.5,2.9,7.8L66.1,64
			H48.5l-6.9-7.8c-0.3-0.4-0.5-0.8-0.8-1c-0.3-0.3-0.5-0.5-0.8-0.9c-1.7-2.1-3-4.5-3.9-7.1c-1-2.6-1.4-5.4-1.4-8.3
			c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.4-8.1c2.3-2.3,5-4.1,8-5.5c3-1.3,6.3-2,9.7-2c3.5-0.1,6.8,0.6,9.9,1.9
			c3.1,1.3,5.8,3.1,8.1,5.4c2.3,2.3,4.2,5,5.5,8.1c1.4,3.1,2.1,6.4,2.1,9.9V64z"/>
		<path class="letter letter-3" d="M113.4,13.3c3.5,0,6.8,0.7,9.9,2c3.1,1.3,5.8,3.1,8.1,5.4c2.3,2.3,4.1,5,5.4,8c1.3,3,2,6.3,2,9.8c0,3.5-0.7,6.8-2,9.9
			c-1.3,3.1-3.1,5.8-5.4,8.1c-2.3,2.3-5,4.1-8,5.5c-3,1.3-6.3,2-9.8,2c-2.5,0-5-0.3-7.4-1V48.1c2.1,1.6,4.6,2.4,7.4,2.4
			c1.7,0,3.2-0.3,4.6-1c1.4-0.6,2.7-1.5,3.8-2.6c1.1-1.1,1.9-2.3,2.5-3.8c0.6-1.5,0.9-3,0.9-4.7c0-1.7-0.3-3.2-1-4.6
			c-0.6-1.4-1.5-2.7-2.6-3.8c-1.1-1.1-2.4-1.9-3.9-2.5c-1.5-0.6-3-0.9-4.7-0.9c-1.7,0-3.2,0.3-4.6,1c-1.4,0.6-2.7,1.5-3.8,2.6
			c-1.1,1.1-1.9,2.4-2.5,3.8c-0.6,1.5-0.9,3-0.9,4.7v46.8H88.3V38.7c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.4-8.1
			c2.3-2.3,5-4.1,8-5.4C106.6,14,109.9,13.3,113.4,13.3z"/>
		<path class="letter letter-4" d="M151.2,26.7v11.9c0,1.7,0.3,3.2,0.9,4.7c0.6,1.5,1.4,2.7,2.5,3.8c1.1,1.1,2.3,1.9,3.8,2.6c1.5,0.6,3,1,4.7,1h3V64h-3
			c-3.5,0-6.8-0.7-9.9-2c-3.1-1.3-5.8-3.1-8.1-5.4c-2.3-2.3-4.1-5-5.4-8.1c-1.3-3.1-2-6.4-2-9.9V0h13.3v13.3H166v13.3H151.2z"/>
		<path class="letter letter-5" d="M176.4,38.7c0,1.7,0.3,3.2,1,4.7c0.6,1.5,1.5,2.7,2.6,3.8c1.1,1.1,2.4,1.9,3.9,2.5c1.5,0.6,3.1,0.9,4.7,0.9
			c1.7,0,3.2-0.3,4.6-0.9c1.4-0.6,2.7-1.4,3.8-2.5c1.1-1.1,1.9-2.3,2.6-3.8c0.6-1.5,1-3,1-4.7V13.3h13.2v25.4c0,3.5-0.7,6.8-2,9.9
			c-1.3,3.1-3.1,5.8-5.3,8.1c-2.3,2.3-4.9,4.1-8,5.4c-3,1.3-6.3,2-9.7,2c-3.6,0-6.9-0.7-10-2c-3.1-1.3-5.8-3.1-8.1-5.4
			c-2.3-2.3-4.1-5-5.5-8s-2-6.4-2-9.9V13.3h13.2V38.7z"/>
		<path class="letter letter-6" d="M237.4,26.7c-1.7,0-3.2,0.3-4.7,1c-1.5,0.6-2.7,1.5-3.8,2.6c-1.1,1.1-1.9,2.4-2.5,3.8c-0.6,1.5-0.9,3-0.8,4.7V64h-13.5
			V38.7c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.4-8.1c2.3-2.3,5-4.1,8.1-5.4c3.1-1.3,6.4-2,9.9-2h3v13.3H237.4z"/>
		<path class="letter letter-7" d="M272.5,45.8c1.6-2,2.4-4.4,2.4-7.1c0-1.7-0.3-3.3-1-4.8c-0.6-1.5-1.5-2.7-2.6-3.8c-1.1-1.1-2.4-1.9-3.8-2.5
			c-1.5-0.6-3-0.9-4.8-0.9c-1.7,0-3.2,0.3-4.6,1c-1.4,0.6-2.7,1.5-3.8,2.6c-1.1,1.1-1.9,2.4-2.5,3.9c-0.6,1.5-0.9,3-0.9,4.7
			c0,1.7,0.3,3.2,1,4.6c0.6,1.4,1.5,2.7,2.6,3.8c1.1,1.1,2.4,1.9,3.9,2.5c1.5,0.6,3.1,0.9,4.7,0.9h19.3V64H263c-3.5,0-6.8-0.7-9.9-2
			c-3.1-1.3-5.8-3.1-8.1-5.4c-2.3-2.3-4.1-5-5.5-8s-2-6.3-2-9.8c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.3-8.1c2.3-2.3,4.9-4.1,8-5.5
			c3-1.3,6.3-2,9.8-2c3.6,0,6.9,0.7,10,2c3.1,1.3,5.8,3.1,8.1,5.4c2.3,2.3,4.1,5,5.4,8.1c1.3,3.1,2,6.4,2,9.9c0,2.4-0.4,4.7-1,7.1
			H272.5z"/>
	</g>
	</svg>
	</div>
	
	<div class="svg_block svg_block_lens">
	
	<svg version="1.1" id="Layer_lens" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 84.6 85.5" style="enable-background:new 0 0 84.6 85.5;" xml:space="preserve">
	<g id="lens">
	  <polygon id="lens1" points="18.2,7 40.1,25 1,52.2 1.6,32.5 	"/>
		<polygon id="lens2" points="20.4,5.7 58.1,36.4 67.4,9 47.3,0.4 	"/>
		<polygon id="lens3" points="69.3,10.1 53.9,56.6 81.6,56.6 82.5,33.4 	"/>
		<polygon id="lens4" points="80.7,59 32.6,59 40.2,84.1 62.4,79.3 	"/>
		<polygon id="lens5" points="37.8,83.6 24.4,39.3 1.6,54.4 12,71.5 	"/>
	</g>
	</svg>
	
	</div>
	
	<div class="svg_block svg_block_art">
	<svg version="1.1" id="Layer_art" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 110.6 85.5" style="enable-background:new 0 0 110.6 85.5;" xml:space="preserve">
	<g id="art">
		<path class="letter letter-8" d="M50.7,64H37.5V38.7c-0.1-1.7-0.4-3.3-1-4.8c-0.6-1.5-1.5-2.7-2.6-3.9c-1.1-1.1-2.4-2-3.9-2.6c-1.5-0.6-3-0.9-4.8-0.9
			c-1.7,0-3.2,0.3-4.6,1c-1.4,0.6-2.7,1.5-3.8,2.6c-1.1,1.1-1.9,2.4-2.5,3.9c-0.6,1.5-0.9,3-0.9,4.8c0,2.9,1,5.5,2.9,7.8L31.4,64
			H13.7l-6.9-7.8c-0.3-0.4-0.5-0.8-0.8-1c-0.3-0.3-0.5-0.5-0.8-0.9c-1.7-2.1-3-4.5-3.9-7.1c-1-2.6-1.4-5.4-1.4-8.3
			c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.4-8.1c2.3-2.3,5-4.1,8-5.5c3-1.3,6.3-2,9.7-2c3.5-0.1,6.8,0.6,9.9,1.9
			c3.1,1.3,5.8,3.1,8.1,5.4c2.3,2.3,4.2,5,5.5,8.1c1.4,3.1,2.1,6.4,2.1,9.9V64z"/>
		<path class="letter letter-9" d="M78.8,26.7c-1.7,0-3.2,0.3-4.7,1c-1.5,0.6-2.7,1.5-3.8,2.6c-1.1,1.1-1.9,2.4-2.5,3.8c-0.6,1.5-0.9,3-0.8,4.7V64H53.5V38.7
			c0-3.5,0.7-6.8,2-9.9c1.3-3.1,3.1-5.8,5.4-8.1c2.3-2.3,5-4.1,8.1-5.4c3.1-1.3,6.4-2,9.9-2h3v13.3H78.8z"/>
		<path class="letter letter-10" d="M95.7,26.7v11.9c0,1.7,0.3,3.2,0.9,4.7c0.6,1.5,1.4,2.7,2.5,3.8c1.1,1.1,2.3,1.9,3.8,2.6c1.5,0.6,3,1,4.7,1h3V64h-3
			c-3.5,0-6.8-0.7-9.9-2c-3.1-1.3-5.8-3.1-8.1-5.4c-2.3-2.3-4.1-5-5.4-8.1c-1.3-3.1-2-6.4-2-9.9V0h13.3v13.3h14.9v13.3H95.7z"/>
	</g>
	</svg>
	</div>
	</div>
	

			
			
		    <div class="hamburger hamburger--squeeze">
		      <div class="hamburger-box">
		        <div class="hamburger-inner"></div>
		      </div>
		    </div>
			
	</div>
</div><!-- navigation-container -->
	