<form class="search-form closed">
	<input class="search-box" type="text" name="search">
	<input class="search-radio" type="radio" value="products" name="search-type" checked="checked"><label>Products</label>
	<input class="search-radio" type="radio" value="site" name="search-type"><label>Site</label>
	<input class="search-button" type="submit" value="search">
</form>