.button {
  cursor: pointer;
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  font-family: $btn-font-family;

  // default colors
  background-color: $btn-bg-color;
  color: $btn-color;
  border: $btn-border;
  border-radius: $btn-border-radius;

  &:hover {
    background-color: $btn-bg-color-hover;
    border: $btn-border-hover;
  }

  // secondary
  &.secondary {
    background-color: $btn-secondary-bg-color;
    border: $btn-secondary-border;
    color: $btn-secondary-color;

    &:hover {
      background-color: $btn-secondary-bg-color-hover;
      border: $btn-secondary-border-hover;
      color: $btn-secondary-color-hover;
    }
  }

  // tertiary
  &.tertiary {
    background-color: $btn-tertiary-bg-color;
    color: $btn-tertiary-color;
    border: $btn-tertiary-border;

    &:hover {
      background-color: $btn-tertiary-bg-color-hover;
      border: $btn-tertiary-border-hover;
      color: $btn-tertiary-color-hover;
    }
  }

  // inverted
  &.inverted {
    // inverted primary
    background-color: transparent;
    color: $btn-bg-color;
    border: $btn-border;

    &:hover {
      background-color: $btn-bg-color;
      color: $btn-color;
      border: $btn-border;
    }

    // inverted secondary
    &.secondary {
      background-color: transparent;
      color: $btn-secondary-bg-color;
      border: $btn-secondary-border;

      &:hover {
        background-color: $btn-secondary-bg-color;
        color: $btn-secondary-color;
        border: $btn-secondary-border;
      }
    }

    // inverted tertiary
    &.tertiary {
      background-color: transparent;
      color: $btn-tertiary-bg-color;
      border: $btn-tertiary-border;

      &:hover {
        background-color: $btn-tertiary-bg-color;
        color: $btn-tertiary-color;
        border: $btn-tertiary-border;
      }
    }
  }

  // small size button
  &.button-small {
    padding: 0.25rem 0.375rem;
    font-size: 0.875rem;
    margin: 0.5rem;
  }
}