// Breakpoints
// -----------
// Breakpoint variables.

$xxs-breakpoint: 320px !default;
$xs-breakpoint: 480px !default;
$sm-breakpoint: 600px !default;
$md-breakpoint: 768px !default;
$lg-breakpoint: 1024px !default;
$xl-breakpoint: 1440px !default;

$wrapper-md: 880px !default;
$wrapper: 1200px !default;
$wrapper-xl: 1440px !default;