// Containers
// ----------
// Container variables.

// Default heights for corresponding container classes
$container-height-xs: 20vh !default;
$container-height-sm: 40vh !default;
$container-height-md: 50vh !default;
$container-height-lg: 80vh !default;
$container-height-xl: 100vh !default;

// Mobile heights for corresponding container classes
$container-height-mobile-xs: 125px !default;
$container-height-mobile-sm: 250px !default;
$container-height-mobile-md: 320px !default;
$container-height-mobile-lg: 500px !default;
$container-height-mobile-xl: 650px !default;