<div class="backgroundstamp">
	<div class="interior-hero position-relative" style="background:url(https://sktools.com/content/sktools/en_US/workshop.img.png.transform/medium/image.jpg)">
		<div class='wrapper'>
				<div class="pad-wrapper">
					<div class="interior-hero--copy anchor">
						<h1>LOREM IPSUM DOLOR SIT AMET?</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						<a href="#" class="hero-button">Submit</a>
					</div><!-- interior-hero-copy -->
				</div><!-- pad-wrapper -->
		</div><!--wrapper-->
	</div><!-- interior-hero: sets position relative and assigns height-->
</div><!-- AEM BACKGROUND COMPONENT -->