<div class="pad-wrapper">
	<div class="news-component">
		<a href='#'><h3>Ideal Family Council Chair & Director Meghan Juday Discusses Family Business, Offers Advice In Marketplace Report</h3></a>
		<p><small>July 26, 2016</small></p>
		<p>The problem with family businesses is that they’re businesses run by families. The most notable current example is the family drama around media mogul Sumner Redstone. The 93-year-old patriarch sits atop a media empire stretching from MTV to CBS, and is embroiled in lawsuits and family infighting centered around, ultimately, who will control that empire and that wealth.</p>
		<button class="hero-button hero-button--skinny" href='#'>read more</button>
		
	</div><!-- news-component : formats text -->
</div><!-- pad-wrapper : required for global padding consistency-->