{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        {# Meta Tags #}
        {% block meta_tags %}
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}"/>
        {% endblock meta_tags %}

        {# Include favicon tags here #}
        {% block favicon_tags %}{% endblock favicon_tags %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/build/app.bundle.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {# Navbar #}
        {% block top_menu %}{% endblock %}

        {# Page Content #}
		<div id="site_wrapper">
        {% block content %}{% endblock %}
	    </div>

        {# Violator #}
        {% block violator %}{% endblock %}

        {# Footer #}
        {% block site_footer %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/build/app.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/build/react_index.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/build/vendors.bundle.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
