---
title: Home Page 
---

<div class="video_background">
	<video class="fluid-video" loop playsinline autoplay muted >
		<source src="/media/bg.mp4" type="video/mp4">
	</video>
	<div class="video_overlay"></div>
</div>

<div class="capability_container_wrapper">
	<div class="capability_container">
		<h1>FullStack Web Development<span>Click to find out how I have used these technologies</span></h1>
		
    	<div class="tech_stack">
    	  <div data-description="This is my strongest backend programming language. I have built robust Content Management Systems using polymorphic models, Google Maps API integration, custom social media scrapers/engines." data-name="Ruby on Rails" data-url="xxx" class="quarters quarter_item_1"><img class ="img-responsive" src="media/Ruby_On_Rails_Logo.svg"><p>Ruby on Rails</p></div>
  		  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_2"><img class ="img-responsive" src="/media/python.svg"><p>Python</p></div>
    	  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_3"><img class ="img-responsive" src="/media/react-seeklogo.com.svg"><p>React</p></div>
		  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_4"><img class ="img-responsive" src="/media/redux-seeklogo.com.svg"><p>Redux</p></div>
    	  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_5"><img class ="img-responsive" src="/media/javascript-js-seeklogo.com.svg"><p>Javascript</p></div>
     	  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_6"><img class ="img-responsive" src="/media/wagtail-seeklogo.com.svg"><p>Wagtail CMS</p></div>
    	  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_7"><img class ="img-responsive" src="/media/Magento.svg"><p>Magento Ecommerce</p></div>
     	  <div data-description="xxx" data-name="xxx" data-url="xxx" class="quarters quarter_item_8"><img class ="img-responsive" src="/media/AEM_logo_RGB.svg"><p>Adobe Experience Manager</p></div>
		 </div>
		 <div class="tech_stack_open">
		 <div class="quarters" target="_blank"><img class ="img-responsive target_data_image" src=""></div>
		   <div class="tech_stack_description">
			   <h3 class="target_data_name"</h3>
			   <p class='target_data_description'></p>
		   <div class="tech_stack_back"> ← Back</div>
		   </div>
   
	   </div
	</div>
	<div class="multiply_border">TechStack</div>

	</div>

<div class="work_container">
<div class="split_contianer split_contianer_dark split_contianer_left" style='background-image:url("/images/soco.jpg")'>
<h2>Southern Comfort</h2>
<div class="overlay">
<div class="description">
<h3><strong>Build -</strong> Front <span class="amp-font">&amp;</span> Back End <br>
		 				<strong>Tech Stack -</strong> Ruby on Rails  <span class="amp-font">&amp;</span> Redux </h3>
		 				<p itemprop="keywords"><strong>Challenge: </strong>The deadline — deploy a fully functional backend and responsive front end 6 weeks.  <strong>Bonus:</strong> getting the fixed logo to change colors based on content underneath.</p>
		     			<a href="https://southerncomfort.com/" target="_blank" class="targetScrollText" itemprop="url">www.southerncomfort.com/</a></div>
</div>
</div>
		 				
				
<div class="split_contianer split_contianer_light split_contianer_right "style='background-image:url("/images/llumar.jpg")'>
<h2>Southern Comfort</h2>
<div class="overlay">
<div class="description">
<h3><strong>Build -</strong> Front <span class="amp-font">&amp;</span> Back End <br>
		 				<strong>Tech Stack -</strong> Ruby on Rails  <span class="amp-font">&amp;</span> Redux </h3>
		 				<p itemprop="keywords"><strong>Challenge: </strong>The deadline — deploy a fully functional backend and responsive front end 6 weeks.  <strong>Bonus:</strong> getting the fixed logo to change colors based on content underneath.</p>
		     			<a href="https://southerncomfort.com/" target="_blank" class="targetScrollText" itemprop="url">www.southerncomfort.com/</a></div>
</div>
</div>
</div>

<div class="work_container">
<div class="split_contianer split_contianer_left " style='background-image:url("/images/soco.jpg")'>
</div>

<div class="split_contianer split_contianer_right "style='background-image:url("/images/llumar.jpg")'>
</div>
</div>


	

	

