---
layout: styleguide
title: SK Styleguide
---
	<!-- components that should NOT be contained within wrapper class -->

<%= code_block "components/aem/hero_image" %>

<div class="wrapper">
	<!-- components that should be contained within wrapper class -->
	<h1>Component Library</h1>
	
	<%= code_block "components/aem/generic_copy_block" %>
	
    <%= partial "components/aem/news_component" %>
	<%= code_block "components/aem/news_component" %>
</div>

